[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gradio = "*"
tensorflow-gpu = "==2.4.0"
pyyaml = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
